@using Microsoft.AspNetCore.Mvc.Localization
@inject LaboratoryProject.Resources.LocService SL
@{
    ViewData["Title"] = "Message";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">@SL.Loc("ThanksToSubmit")</h4>
    <p>@SL.Loc("MessageSuccessfully")<br /><br /><b>@SL.Loc("qumc")</b></p>
</div>