@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-action="Create" asp-controller="Requests" class="btn btn-info text-white">Create New</a>
    </p>
    <p>
        <a asp-action="Index" asp-controller="Requests" class="btn btn-info text-white">For Index</a>
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
